div.polaroid {
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-left: 25%;
    margin-top: 2%;
    
  }
  
  div.container {
    padding: 10px;
  }	
  p::first-letter{
    color:gray;
    font-size:30px
  }